* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', arial, sans-serif;
  color: #252525;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3EDE3;
}

.counter {
  padding: 30px;
  border: 1px solid #252525;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
  background-color: #FAF7F3;
}

.value {
  margin: 20px 0;
  font-size: 48px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #252525;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #252525;
  background-color: #F3EDE3;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

#decrease {
  color: red;
}

#increase {
  color: blue;
}
